/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-small-screen .dzn-header-right-buttons li:first-child a {
    padding: 5px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    line-height: 32px;
  }
  .header-small-screen .dzn-header-right-buttons li:first-child img {
    width: 14px;
  }
  .dzn-main-container {
    padding-top: 112px;
  }
  .menuli .navbar-toggler {
    background: none;
    border: none;
  }
  .header-small-screen .menuli .navbar {
    padding: 10px 0px;
    margin-left: -17px;
    margin-top: 8px;
  }
  .header-small-screen .menuli > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dzn-page-title .text-end {
    text-align: left !important;
  }
  .dzn-newproject--small-screen a {
    width: 100%;
    display: block;
    text-align: center;
    margin: 40px 0;
  }
  .dzn-proimage,
  .dzn-proimage img {
    width: 100%;
  }
  .dzn-page-title,
  .dzn-page-subtitle,
  .dzn-project-overview-wrapper {
    padding-left: 0;
  }
  ul.dzn-project-overview.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .dzn-project-overview > li:first-child {
    width: 60%;
  }
  .dzn-project-overview > li:nth-child(2) {
    width: 40%;
  }
  .dzn-project-overview > li:nth-child(3) {
    width: 100%;
  }
  .dzn-project-overview > li:nth-child(4),
  .dzn-project-overview > li:nth-child(5) {
    width: 50%;
    padding: 24px 40px;
  }
  .dzn-project-overview > li:nth-child(6) {
    width: 100%;
  }
  .dzn-project-overview > li:nth-child(6) a {
    padding: 12px 15px;
    border-radius: 32px;
    text-align: center;
  }
  .dzn-project-card {
    width: 100%;
  }
  .dzn-projects-header-btn-wrapper,
  .dzn-dhb-right {
    display: flex;
    flex-direction: column;
  }
  .dzn-projects-header-btn-wrapper {
    gap: 0.5rem !important;
  }
  .dzn-projects-header-btn-wrapper a {
    padding: 16px 40px;
    border-radius: 45px;
    justify-content: center;
  }
  .dzn-paga-title-with-bgcolor .dzn-projects-header-bottom {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .dzn-projects-header-bottom-project-status {
    flex-wrap: wrap;
  }
  .dzn-projects-header-bottom-project-status li:nth-child(1) {
    width: 50%;
  }
  .dzn-projects-header-bottom-project-status li:nth-child(2) {
    width: 45%;
    border: none;
    text-align: right;
    justify-content: flex-end;
  }

  .dzn-projects-header-bottom-project-status li:nth-child(3) {
    width: 100%;
  }
  .dzn-projects-header-bottom-project-status
    li:nth-child(3)
    .dzn-progressbar-150 {
    width: 100%;
  }
  .dzn-paga-title-with-bgcolor .dzn-projects-header-bottom .dzn-dhb-right {
    margin-top: 1rem;
  }
  .dzn-page-title .tab-header {
    flex-direction: column;
    gap: 1rem;
  }
  .dzn-page-title .tab-header .dzn-tabs {
    width: 100%;
  }
  .dzn-page-title .tab-header .dzn-tabs li.nav-item {
    margin-right: 6px;
  }
  .dzn-page-title .dzn-header-right-buttons {
    width: 100%;
    justify-content: space-around !important;
  }
  .dzn-page-title .dzn-header-right-buttons li:nth-child(1) {
    width: 80%;
  }
  .dzn-page-title .dzn-header-right-buttons li:nth-child(2) a {
    line-height: 32px;
  }
  .dzn-accordion-title-wrapper
    .dzn-project-overview
    .dzn-project-overview__title {
    width: 100%;
    border: none;
  }
  .dzn-accordion-title-wrapper .dzn-project-overview li:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  .dzn-accordion-title-wrapper .dzn-project-overview li:nth-child(3) {
    width: 50%;
    border: none;
  }
  .dzn-accordion-title-wrapper .dzn-project-overview li:nth-child(4) {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  .dzn-tab-content .dzn-accordion .accordion-header button.accordion-button {
    display: flex;
    align-items: flex-end;
  }
  .dzn-attachment-wrapper > li {
    width: 100%;
    box-sizing: border-box;
  }
  .dzn-attachement-card .dzn-attachement-card__image img {
    object-fit: cover;
    width: 100%;
    height: max-content;
  }
  .dzn-attachement-card {
    gap: 12px;
    width: 100%;
  }
  .container-medium,
  .dzn-form-container {
    width: 100%;
  }
  .dzn-plan-card-list .dzn-plan-title {
    padding: 12px 8px;
  }
  .dzn-plan-card-list
    .dzn-plan-title
    .dzn-accordion-title-wrapper
    .dzn-plan-overview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start !important;
  }
  .dzn-plan-card-list
    .dzn-plan-title
    .dzn-accordion-title-wrapper
    .dzn-plan-overview
    ul {
    gap: 1rem;
  }
  .dzn-plan-card-list
    .dzn-plan-title
    .dzn-accordion-title-wrapper
    .dzn-plan-overview
    ul
    li
    a {
    padding: 5px 10px !important;
    font-size: 12px;
  }
  .dzn-project-overview .card-content-block ul {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start !important;
    align-items: flex-start !important;
  }
  .dzn-project-overview .card-content-block ul li:first-child {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .dzn-active,
  .dzn-inactive {
    position: relative;
    padding: 5px 18px 5px 30px !important;
  }
  .dzn-settings-list .card-content-block ul {
    flex-direction: row !important;
  }
  .dzn-settings-list .card-content-block ul li:first-child {
    flex-direction: row !important;
  }
  .analytics-wrapper {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-small-screen {
    display: block !important;
  }
  .dzn-main-rght-wrapper {
    border-left: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .dzn-main-sidebar {
    max-width: inherit;
    width: 120px;
  }
  .dzn-main-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}

