RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /superadmin/api/index.php [L]
RewriteRule ^(.*)$ index.php [L,QSA]

RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Prevent direct access to sensitive files
# <FilesMatch "^(config\.php|\.env)">
#     Order Allow,Deny
#     Deny from all
# </FilesMatch>